.ls_btn {
    width: 150px;
    height: 40px;
    background: #ff8d00;
    color: white;
    margin-top: 30px;
}
.ls_btn:hover {
    background: white;
    color: #ff8d00;
    border: solid 1px #ff8d00;
}

.jumbotron {
    background-color: #f7f7f7;
}

.formbody {
    margin: auto;
    margin-top: 30px;
}
.errorspan {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}