.ls_btn {
    width: 150px;
    height: 40px;
    background: #ff8d00;
    color: white;
    margin-top: 30px;
}
.ls_btn:hover {
    background: white;
    color: #ff8d00;
    border: solid 1px #ff8d00;
}

.tm_btn {
    width: 100px;
    height: 40px;
    background: #0095ff;
    color: white;
    margin-top: 30px;
}
.tm_btn:hover {
    background: white;
    color: #0095ff;
    border: solid 1px #0095ff;
}

.jumbotron {
    background-color: #f7f7f7;
}

.graytxt {
    margin-top: 30px; 
    color: #8e8e8e;
}

th,td{
    border: solid 1px gray;
    text-align: center;
    padding: 5px;
}
table{
    width: 100%;
}

.fa-times-circle {
    cursor: pointer;
}